<style>


header {
    display: block;
    position: fixed;
    width:100%;
    margin-top: 0px;
    background-color:rgb(223, 171, 103);
    color: gray;
}

header img {
    float: inline-start;
}

header a {
    float: inline-end;
    padding: 14px 16px;
    color: gray;
    text-decoration: none;
}

header a:hover {
    text-decoration: black;
}

.container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    background-color: rgba(235, 110, 8, 0.562);
    border-style: hidden;
}

.form {
    align-content: center;
}

input {
    border-radius: 20px;
}

button {
    border-radius: 20px;
    background-color:lavender;
    color: black;
}

</style>