<style>


header {
    z-index: 1;
    position: fixed;
    height: 100px;
    width: 100%;
    background-color:white;
    color: gray;
}

header img {
    float: inline-start;
    padding-left: 2%;
    padding-top: 2%;
}

header a {
    float: inline-end;
    padding: 14px 16px;
    color:white;
    text-decoration: none;
    font-size: 20px;
}

header::after {
    content: "";
    display: table;
    clear: both;
}

#header a:hover {
    color:teal;
}

body {
    background-color: black;
}

.fa-instagram {
    background: black;
    color: white;
    text-decoration: none;
}

.fa-twitter {
    background: black;
    color: white;
    text-decoration: none;
}

.containter {
    margin-right: auto;
    margin-left: auto;
}

iframe {
    display:block;
    margin-left: auto;
    margin-right: auto;
    overflow:hidden;
    height: 340px;
    width: 490px;
    border: none;
}

.gif {
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    border-style: hidden;
}

p {
    color: white;
    text-align: center;
}

form {
    text-align: center;
}

input {
    border-radius: 20px;
    padding: 8px;
    width: 30%;
    background-color: white;
}

button {
    background-color: white;
    color: black;
    border: 2px solid black;
    padding: 10px;
    border-radius: 20px;
}

</style>